<?xml version="1.0" ?>
<robot name="halcyon">
  <link name="halcyon">
    <inertial>
      <mass value="9000"/>
      <origin rpy="0  0  0" xyz="-1.46944  0.00434  1.36259"/>
      <inertia ixx="13672.278298768" ixy="-85.371609812" ixz="-3681" iyy="94387.862230274" iyz="-103.426416578" izz="94901.603096338"/>
    </inertial>
    <collision name="halcyon_base_collision">
      <origin rpy="0  0  0" xyz="0.19386  0.29812  0"/>
      <geometry>
        <mesh filename="package://mimree_description/meshes/mimree_asv/boat_base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="halcyon_landing_pad_collision">
      <origin rpy="0  0  0" xyz="-4.30613  0.29812  2.1"/>
      <geometry>
        <box size="5.5 3.08 0.1"/>
      </geometry>
    </collision>
    <visual name="halcyon_base_visual">
      <origin rpy="0  0  0" xyz="0.19386  0.29812  0"/>
      <geometry>
        <mesh filename="package://mimree_description/meshes/mimree_asv/boat_base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="halcyon_landing_pad_visual">
      <origin rpy="0  0  0" xyz="-4.30613  0.29812  2.1"/>
      <geometry>
        <box size="5.5 3.08 0.1"/>
      </geometry>
    </visual>
  </link>
</robot>
